<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="connectionstring" value="FH2Ofp4MvwK78vsuVxAchYTOxw+wOzZmp5hNPNVp0p5kNMYBzSH2gwUMetkd+Xpk/M+SQBVKPTUGBPvdBtgBJhCak1Iwz4OCCYNnmRDLfr44xiW1WDbRLA==" />
    <add key="autoRefresh" value="1"/> 
    <add key="line" value="A"/> 
    <add key="switchTabInterval" value="30"/> 
    <add key="refreshDataInterval" value="10"/> 
</appSettings>
</configuration>